.Login {
    background-image: url('../../a.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;

    .Form {
        margin: auto;
        background-color: #fff;
        display: block;
        padding: 1rem;
        width: max-content;

        h3 {
            text-align: center;
            margin-bottom: 2rem;
        }
    }
}