.Login {
    background-image: url('../../../a.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;

    .Form {
        margin: auto;
        background-color: #fff;
        display: block;
        padding: 3rem;
        width: 390px;
        border-radius: 5px;
        box-shadow: 0 0px 15px rgba(0, 0, 0, .3);

        h3 {
            text-align: center;
            margin-bottom: 2rem;
        }

        .FormButton {
            position: relative;
            width: 100%;
            background: transparent;
            border-radius: 25px;
            overflow: hidden;
            z-index: 2;
            height: 50px;

            .FormBgBtn {
                position: absolute;
                border-radius: 25px;
                width: 300%;
                height: 100%;
                background: linear-gradient(to right, #21d4fd, #b721ff, #21d4fd, #b721ff);
                z-index: -1;
                top: 0;
                left: -100%;
                transition: all .4s;
            }

            &:hover {
                .FormBgBtn {
                    left: 0;
                }

            }
        }
    }
}